<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center">
        <form action="/submit/" method="post">
            <label>Введіть ваше ім'я</label><br>
            <input type="text" name="name" required><br><br>

            <label>Введіть ваш вік</label><br>
            <input type="number" name="age" required><br><br>

            <label>Введіть ваш улюблений колір</label><br>
            <input type="text" name="color" required><br><br><br>

            <button type="submit" class="btn btn-success">Відправити</button>
        </form>
    </div>
</body>
</html>